@import 'style.css';


#secondHeader {
	background-color: #5167cf;
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
	height: 100px;
}
form img, form input{
	margin: 10px;
	margin-right: 25px;
	float: left;
	padding: 5px;
	min-height: 45px;
}

form {
	display: inline-block;
	width: 90%;
   margin: 5%;
}

#contactinfo {
	background-color: #ffffff;
	min-height: 200px;
}


#secondHeader h2 {
	padding: 30px;
	text-align: left;
}
#contactbutton {
	margin-bottom: 20px;
}
.guardar {
	float: right;
	margin-right: 10%;
	margin-top: 30px;
}
.return {
	margin-left: 10%;
	margin-top: 30px;
}

.calendario{
  display: table;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  min-height: 50px;
}
.semana, .diasemana {
  display: table-row;
  
}
.textodia, .semana .dia, .mes, .anno {
  display: table-cell;
  vertical-align: top;

}


.diasemana .textodia {
	background-color: #5167cf;
	padding: 8px;
	color : white;
}
.iframebody {
	width: 725px;
	background-color: white;
	margin: 25px;
}


.botones {
	min-height: 5px !important;
}