@import "style.css";

#secondHeader{
    background: #5167CF;
    padding: 50px 30px 30px 60px;
    height: 90;
}

#search{
    border-radius: 30px;
    margin: 15px 30px 0 0;
    padding: 8px;
    width: 500px;
}

.icons{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    padding:0;
    vertical-align: middle;
}

.icons#addcontact, .icons#filter {
	position: relative;
	top: -44px;
   right: -582px;
}

#contacts{
    padding: 50px 100px 50px 100px;
}

.contactContent{
	margin-bottom: 25px;
	box-shadow: -3px 5px 50px 1px rgba(0,0,0,0.75);
}

.contactHeader {
	background-color: #5167CF;
	font-size: 30px;
	vertical-align: baseline;
	padding: 20px;
}

.contactHeader input{
	float: right;
	position: relative;
	bottom:5px;

}

.contactInfo{
	background:white;
	padding: 10px;
	min-height: 25px;
	vertical-align: middle;
}

.contactInfo p{
	display: inline-block;
	padding: 10px;
	vertical-align: text-top;
}

.info {

}

.contact input{
    float: left;
    height: inherit;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    color: #fff;
	 text-decoration:none;
}


#navigation{
    text-align:center;
    padding-bottom: 40px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; /* Gray */
}

ul.pagination li a.active {
    background-color: #7487DE;
    color: white;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#promtB {
	 position: fixed;
    width: 800px;
    z-index: 100;
    top: 30%;
    left: 20.35%;
    height: 255px;
    box-shadow: -3px 5px 50px 1px rgba(0,0,0,0.75);
}

#promtC {
	position: fixed;
   width: 800px;
   z-index: 100;
   top: 30%;
   left: 20.35%;
   height: 290px;
   box-shadow: -3px 5px 50px 1px rgba(0,0,0,0.75);

}

#promtF {
	 position: fixed;
    width: 360px;
    z-index: 100;
    top: 40%;
    left: 60.35%;
    height: 110px;
    box-shadow: -3px 5px 50px 1px rgba(0,0,0,0.75);
}