@import 'style.css';
#secondHeader {
	background-color: #5167cf;
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
	height: 100px;
}
form img, form input{
	margin: 10px;
	float: left;
	padding: 5px;
	min-height: 45px;
}
form {
	display: inline-block;
	margin:10%;
}
#content {
	display: block;
	float: left;
	position: relative;
	text-align: center;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	##min-height: 300px;
	min-width: 50%;
	margin: 0;
}
#contactInfo {
	background-color: #ffffff;
	min-height: 150px;
}

#contactInfo form {
	margin: 20px;
}
#secondHeader h2{
	padding: 30px;
	text-align: left;
}

#contactbutton {
	margin-bottom: 20px;
}

form .guardar {
	margin:0;
}
.return {
	float: left;
	margin-left: 10%;
	margin-bottom: 30px;
}
.icons {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin:5px;
}

#contactInfo p{
	font-size: 20px;
   text-align: left;
   margin: 20px;
   margin-left: 50px;

}
form.delcontact {
	margin:0;
	float: right;
	margin-right: 10%;
	margin-bottom: 30px;
}
