@import 'style.css';
@import 'contact.css';

#content {
	width: 360px;
	text-align: left;
	
}

#secondHeader {
	height: 30px;
}
#secondHeader span{
	padding-left: 30px;
}

#contactInfo {
	min-height: 80px ;
}
table {
	margin-left: 30px;
}

td{
	display: table-cell;
	margin:0;
	padding-left: 0px;
	display: inline-block;
	vertical-align: middle;
}
#contactinfo form {
	margin: 0;
}