/* Css for Footer.php */
footer{
    text-align: center;
    font-family: Helvetica, sans-serif;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
}

#footercontacts{
    background-color: #5167cf;
    color: #2d1c50;
    font-size: 16px;
    line-height: 60px;
}

#copyright{
    background-color: #b1eafd;
    color: #163c49;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
}

.contactsImage{
    width: 20px;
    height: 20px;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}