@import 'style.css';
h1.home {
	color: #fff;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	margin-top: 20px;
}
h2.home {
	color: #5167CF;
	font-size: 30px;
	font-weight: normal;
	text-transform: capitalize;
	text-align: center;
	margin-top: 50px;
}
div.login{
	background-color: #5167cf;
	display: block;
	float: left;
	position: absolute;
	top: 25%;
	bottom: 25%;
	left: 25%;
	right: 25%;
	text-align: center;
	box-shadow: -3px 10px 43px 1px rgba(0,0,0,0.75);
	min-height: 350px;
	min-width: 462px;
}
.logo {
	float: left;
	display: block;
	position: absolute;
	border-radius: 100%;
	overflow: visible;
}
.slide{
	float: left;
	width: 100%;
	position: relative;
}

#header {
	float: left;
	width: 100%;
}
form.login {
	margin: 60px 20px 20px 20px;
}
.usrpass{
	margin: 20px;
}
.usrpass input {
	margin: 10px;
	width: 350px;
	height: 40px;
}
.two-colums {
	margin-left: 15%;
	margin-right: 15%;
}
.two-colums img{
	width: 25%;
	margin-top:40px;
	margin-bottom:40px;
	margin-left: 40px;
	float: left;
}
.two-colums ul {
	width: 60%;
	margin-top:40px;
	margin-bottom:40px;
	margin-right: 20px;
	float: right;
}
ul li{
	font-size: 20px;
	margin: 10px;
}
ul {
	list-style-type:none;
}


