@import 'reset.css';

/*
Se importa en la primera linea de código el reset.css, que formatea en un standard las principales etiquetas de html 
uniformando el documento.
Así todo lo que interpretará del css, modificará de igual forma todos los documentos.
*/
body {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    background: rgba(206, 182, 253, 0.15);
}

h1 {
    color: #ffffff;
    font-size: 48px;
}
h2 {
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}

button, input.guardar, input.return {
    color: #ffffff;
    background-color: #428bca;
    font-size: 24px;
    min-height: 45px;
    border-radius: 5px;
    border: 1px solid;
}
.enter {
    clear: both;
}

#content{
    margin: auto;
    width: 800px;
    background: #fff;
    box-shadow: -3px 10px 43px 1px rgba(0,0,0,0.75);
    border-radius: 3px;
    margin-top: 80px;
    margin-bottom: 80px;
}

